body {
  background-color: var(--background-color);
}

#langs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#langs > * {
  width: 200px;
}
.paused {
  filter: sepia(60%);
}
