header {
    margin: 2vw 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

header > #goBack {
    color: #a6adc8;
    font-size: clamp(0.7rem, 2vw, 5rem);
}

header > #title {
    color: var(--yellow);
    font-size: clamp(1.5rem, 4vw, 7rem);
}

#projects > a {
    font-size: clamp(1rem, 1vw, 7rem);
}
