* {
    font-family: "Iosevka";         
    color: white;
}

body {
    padding: 2vw;
    background-color: #0A0A1B;
}

#title {
    margin: 1.5vw 0 1.5vw 0;
    font-size: 3rem;
}

@font-face {
    font-family: "Iosevka";
    src: url("assets/IosevkaCharonMono-Regular.ttf");
}

