html {
    width: 100%;
    height: 100%;
    overflow: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75%;
    align-items: center;
    justify-content: center;
}

#topText {
    font-size: 3vw;
    margin: 0;
}

#clockDiv {
    display: flex;
}

#clockDiv > span {
    font-size: 7.5vw;    
}

#weekSpan {
    color: var(--red);
}

#daySpan {
    color: var(--green);
}

#hourSpan {
    color: var(--blue);
}

#minuteSpan {
    color: var(--yellow);
}

#secondSpan {
    color: var(--purple);
}
