body {
    background-color: var(--bg);
}

#text > * {
    display: inline-block;
}

#text span:nth-child(1) {
    color: var(--red);
}
#text span:nth-child(2) {
    color: var(--orange);
}
#text span:nth-child(3) {
    color: var(--green);
}
#text span:nth-child(4) {
    color: var(--aqua);
}
#text span:nth-child(5) {
    color: var(--purple);
}
