body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#wrapper {
    width: 60%;
    padding: 20px;
    border: solid 2px white;
    margin-top: 50px;
    margin-bottom: 50px;
}