:root {
    --bg: #282828;
    --fg: #EBDBB2;
    --gray: #928374;
    --red: #CC2416;
    --green: #98971A;
    --yellow: #D79921;
    --purple: #B16286;
    --blue: #689D6A;
    --orange: #D65D0E;
}

body {
    height: 100px;
    background-color: var(--bg);
}
