html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    background-color: #1E1E2E;
    margin: 0;
    width: 100%;
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: 0;
    height: 100%;
    background-color: #11111B;
    justify-content: center;
}

#sidebarTextDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    text-align: center;
}

#sidebarText {
    user-select: none;
    font-size: 20px;
}

#sidebarTextScrollArea {
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    overflow-y: scroll;
}

#sidebarTextScrollArea > span {
    display: block;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    margin: 0.5em 0;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#postArea {
    /* padding-top: 20px; */
    padding-left: 20px;
    flex: 1;
    overflow-y: scroll;
}

#postArea > p {
    margin: 0.6em 0;
}

#topbar {
    display: flex;
    background-color: #181825; 
    min-height: 50px;
    height: 10%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#topbar > * {
    margin-left: 15px;
    margin-right: 15px;
}

#clock {
    margin-left: 20px;
    font-size: 0;
    user-select: none;
}

#clock > span {
    display: inline-block;
    font-size: 32px;
    font-weight: 200;
    margin: 0;
}

#clockSign {
    color: #CDD6F4;
}

#daySpan {
    color: #F38BA8;
}

#hourSpan {
    color: #FAB387;
}

#minuteSpan {
    color: #A6E3A1;
}

#secondSpan {
    color: #89B4FA;
}
