body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

h2 {
  color: var(--text-color);
}

#buttons {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
}

#buttons > * {
  width: 200px;
  height: 200px;
  /* border-radius: 20px; */
  /* margin: auto; */
}

#image {
  max-width: 200px;
  display: block;
  margin-bottom: 10px;
}

#linusScare {
  color: var(--text-color) !important;
}
