html,
body {
  width: 100%;
}

body {
  background-color: hsl(101, 30%, 50%);
  display: flex;
  justify-content: center;
}
/* this is very janky and stupid css
      but ehh i hope some guy can fix it */
#mainContent {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 600px;
  max-width: 40%;
  border: 2px solid black;
  padding: 20px;
}

p {
  margin-top: 25px;
  margin-bottom: 25px;
}