* {
    font-family: "JetBrainsMono";
    color: white;
}

body {
    background-color: #11111b;
}

@font-face {
    src: url("../assets/JetBrainsMono.ttf");
    font-family: "JetBrainsMono";
}

svg {
    border: 2px solid white;
}

button {
    color: black;
}
